@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--color-primary: #ebf2fa;
	--color-secondary: #cae9ff;
	--color-logo: #3a86ff;
	--font-exo: "Exo 2", sans-serif;
	--font-cinzel: "Cinzel", serif;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-exo);
	font-optical-sizing: auto;
}
